:root {
  color-scheme: dark light;
}

html {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media (prefers-color-scheme: dark) {
  body {
    color:#ebf4f1;
    background-color: #091a28;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color:#2F4858;
    background-color: #f3f5f4;
  }
}

body {
  height: 100vh;
  display: flex;
  place-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.presentation > h1 {
  font-size: 48px;
}

h1 > span {
  color: #30c67c;
}

.presentation > p {
  font-size: 28px;
  opacity: 75%;
}

.links {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, min-content);
  gap: 10%;
}